WAPPKIT_SITE_URL=https://www.wappkit.com
WAPPKIT_SITEMAP_URL=https://www.wappkit.com/sitemap.xml
WAPPKIT_RSS_URL=https://www.wappkit.com/rss.xml
WAPPKIT_CONTENT_RAW_BASE_URL=https://raw.githubusercontent.com/alicekellings/wappkit-web/main/content/blog

DATA_DIR=./data
OUTPUTS_DIR=./outputs
CHECK_INTERVAL_MINUTES=30
MAX_ARTICLES_PER_RUN=1
REQUEST_TIMEOUT_SECONDS=30

OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL=gpt-5.4

DEVTO_API_KEY=
DEVTO_PUBLISH_STATUS=draft
DEVTO_DEFAULT_TAGS=wappkit,software,productivity,saas
